<!doctype html>
<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div>
      {{ if .Error }}
      <div class="error"><strong>Error:</strong> {{ .Error }}</div>
      {{ end }}

      <form action="/api/login" method="POST">
        <label>Username:</label>
        <input type="text" name="username" value="{{ .Username }}" />

        <label>Password:</label>
        <input type="password" name="password" />

        <button type="submit" id="login-button">Log In</button>
      </form>
    </div>
  </body>
</html>